<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

<div class="bg-slate-100 overflow-y-scroll w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white">
  <div class="flex flex-row h-screen w-screen">
    <!-- Sidebar -->
    <app-side-menu class="w-64 bg-slate-800" />

    <!-- Contenido principal -->
    <div class=" px-10 py-6 flex-1 md:w-3/4 overflow-y-auto text-slate-800">
      <router-outlet />
    </div>
  </div>
</div>
